*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-rows: 10vh 1fr 10vh;
}
/* ------------------------------------------------------------------------------------------ */
header{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-row: 1;
    background-color: black;
    color: white;
}
/* ------------------------------------------------------------------------------------------ */
main{
    padding-bottom: 10px;
    grid-row: 2;
    display: grid;
    grid-template-rows: 10vh 1fr;
    align-items: center;
    justify-items: center;
    background-color: rgb(25, 25, 25);
}
/* ------------------------------------------------------------------------------------------ */
.botao{
    display: flex;
}
#busca-serie{
    display: flex;
    font-size: x-large;
    width: 330px;
    height: 5vh;
    background-color: black;
    border: solid black 1px;
    border-radius: 8px 0px 0px 8px ;
    color: white;
}
#botao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    background-color: black;
    height: 5vh;
    border: solid black 1px;
    border-radius: 0px 8px 8px 0px;
}
/* ------------------------------------------------------------------------------------------ */
.catalogo{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw;
    align-items: baseline;
}
.serie{
    padding: 2vh 0;
    display: grid;
    justify-items: center;
    width: 360px;
    border-radius: 15px 0px 15px 0 ;
    background-color: black;
    color: white;
}
.color-link{
    color: white;
}
ul {
    padding: 0 1vw;
    list-style-type: none;
}
/* ------------------------------------------------------------------------------------------ */
footer{
    color: white;
    grid-row: 3;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

